@import url("https://use.typekit.net/gsq0pfw.css");

$body-font-family: 'futura-pt', sans-serif !important;
$font-size-root: 18px !important;
$heading-font-family: 'Richey', serif !important;
$btn-text-transform: none;
$card-elevation: 0;
